{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VENTUREAIBIOS</title>
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="x-icon" href="{% static 'img/bitcoin-3254547-2725172.png'%}">
</head>
<body>
    <header>
        <nav>
            <div class="left">
                <div class="logo1">

                    <img src="{% static 'img/bitcoin-3254547-2725172.png' %}" alt="">
                    <h1 class="logoimg">
                        Ventureaibios
                    </h1>
                </div>
            </div>

            <div class="right">
                <ul>
                    <li><a class="a1" href="login">Login</a></li>
                    <li><a class="a2" href="register">Sign-Up</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="sec1">
        <div class="intro">
                <div>
                    <h1 style="color: white; font-size: 3rem;" > Welcome to Ventureaibios</h1>
                </div>
                <hr>

                <div>
                    <p>
                       Grow your finencial portfolio through wise investment.
                    </p>

                    <p>
                       Start Investing with Ventureaibios, click the button below to create an account and start earning.
                    </p>
                </div>

                <div>
                    <a href="register" class="a2"> Start earning now</a>
                </div>
        </div>


        <div class="imgicon">
            <img src="{% static 'img/bitbanner.png' %}" alt="">
        </div>


        <div class="img2">
            <img src="{% static 'img/btc-illustration.svg' %}" alt="">
        </div>


        <div class="intro">
            <div>
            
            </div>
            <hr>

            <div>
               

                <p>
                    They say nothing good comes easy
                    Yes! It's a Cliché line but it’s the truth so why back off when you know the truth.
                </p>

                <p>
                    Welcome to Ventureaibios, where the experts use Advance Investment Technologies to help you trade your money through Bitcoin investments
                </p>

            </div>
    </div>


    </section>
</body>
</html>