




p ,
h3{
    color: white;
    margin: 0px;
    font-size: 1.4rem;

}

.account-amt:hover,
.earnings:hover{
   border: solid 1px gray;
}

.account-amt{
    padding: 1.3rem;
    background-color: rgba(0, 112, 0, 0.3);
    border-radius: 1rem;
    border-top: solid 3px green;
    box-shadow: 5px 5px 10px rgb(0, 0, 125);
}

.second{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.second a{
    color: whitesmoke;
    font-size: 1rem;
}

.earnings{
    padding: 1.3rem;
    border-radius: 1rem;
    background-color: rgba(17, 17, 80, 0.3);
    transition: border .5s;
    cursor: pointer;
    border-top: solid 3px green;
    box-shadow: 5px 5px 10px rgb(0, 0, 125);
}

.earnings .seconde{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.increment{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.increment .added{
    color: green;
}

.fomrpart{
    padding: 4% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 5rem;
}

.fomrpart h1{
    color: gray;
    font-size: 2.5rem;
    font-weight: 400;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.6rem;
    border: solid 1px gray;
    border-radius: 1rem;
    padding: 2rem;
}
form label{
    font-size: 1.3rem;
    font-weight: 200;
    color: gray;
}

form div{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

form div input{
    width: 20rem;
    height: 2rem;
    padding: .5rem 2rem;
    background-color: rgb(0, 0, 29);
    border-radius: .7rem;
    border: none;
    color: gray;
    font-size: 1rem;

}

.curent{
    width: 24rem;
    border: none;
    border-radius: .7rem;
    height: 3.1rem;
    padding: .5rem 2rem;
    background-color: rgb(0, 0, 29);
    color: gray;

}

.btn{
    width: 24rem;
    border: none;
    border-radius: .7rem;
    height: 3.1rem;
    padding: .5rem 2rem;
    background-color: rgb(0, 162, 73);
    color: rgb(255, 254, 254);
    cursor: pointer;
    font-size: 1.3rem;

}


@media screen and (max-width:718px){
   form{
    padding: 0px;
    border: none;
    margin: 5% 2% 2% 2%;
   }

   

}


@media screen and (max-width:390px){
    .btn{
        width: 8rem;
    }

    form div input{
        width: 6rem;
    }

    .fomrpart{
        padding: 0px;
        column-gap: 0px;
    }
}
